#!/bin/bash

#dump all environment variables except git related ones
alias fullenv='( set -o posix ; set ) | grep -v "__git"'

#open a URL in chrome from the command line
alias open='google-chrome "$@"'

#VSCode
alias code='__code'

#IP addresses
alias remoteip='curl http://checkip.amazonaws.com'
alias localip='__localip'

#go to git dir
alias mygit='cd "${HOME}"/mygit'

#set volume from command line
alias volume='__volume "$@"'

#start http server in current dir
alias server='__server'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
