#!/bin/bash

#dump all environment variables except git related ones
alias fullenv='( set -o posix ; set ) | grep -v "__git"'

#open a URL in chrome from the command line
alias open='google-chrome "$@"'

#VSCode
alias code='__code'

#IP addresses
alias remoteip='curl http://ipecho.net/plain; echo'
alias localip='__localip'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
