#!/bin/bash

#Stop the horrible errors in terminal when launching VSCode
function __code {
   if [ "$@x" != 'x' ]; then
      (/opt/VSCode/VSCode-linux-x64/Code "$@" &) &> /dev/null
   else
      (/opt/VSCode/VSCode-linux-x64/Code &) &> /dev/null
   fi
   }

function __localip {
    ip addr show $(route | grep default | awk '{print $8}') | grep inet | awk '{print $1" "$2}' | cut -d\/ -f1
    }
